<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>GetAll</title>

</head>
<body>
<h2 th:if="${people.size()==0}">Danh sách rỗng</h2>
<h1 th:if="${people.size()!=0}">Danh sách tất cả các người</h1>
<button>
    <a th:href="@{/}"> Quay Lại </a>
</button>
<table border="1" >
    <thead>
      <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Job</th>
          <th>Gender</th>
          <th>City</th>
          <th>Salary</th>
          <th>Birthday</th>
      </tr>
    </thead>
    <tbody>
    <tr th:each="person : ${people}">
        <td th:text="${person.id}"></td>
        <td th:text="${person.fullName}"></td>
        <td th:text="${person.job}"></td>
        <td th:text="${person.gender}"></td>
        <td th:text="${person.city}"></td>
        <td th:text="${person.salary}"></td>
        <td th:text="${person.birthday}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>