<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Person</title>
  <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<h1 style="font-size: 30px">PerSon Management</h1>
<br>
<br>
<ul>
    <li>
        <a th:href="@{/person/getAll}"> Liệt kê tất cả danh sách Person </a >
    </li>
    <li>
        <a th:href="@{/sortPeopleByFullName}"> Liệt kê danh sách sắp xếp theo tên full name từ A-Z </a>
    </li>
    <li>
        <a th:href="@{/getSortedJobs}"> Lấy danh sách tất cả nghề nghiệp đã được sắp xếp từ A-Z </a>
    </li>
    <li>
        <a  th:href="@{/getSortedCities}"> Lấy danh sách tất cả thành phố đã được sắp xếp từ A-Z </a>
    </li>
    <li>
        <a  th:href="@{/groupPeopleByCity}"> Liệt kê các thành phố và danh sách người đang sống ở thành phố đó  </a>
    </li>
    <li>
        <a  th:href="@{/groupJobByCount}"> Liệt kê danh sách nghề nghiệp và số người làm nghề đó   </a>
    </li>
    <li>
        <a  th:href="@{/aboveAverageSalary}"> Liệt kê danh sách người có mức lương lớn hơn mức lương trung bình </a>
    </li>
    <li>
        <a  th:href="@{/longestName}">   Hiển thị người có độ dài tên dài nhất </a>
    </li>


</ul>
<script src="/main.js"></script>
</body>
</html>